.intro {
  // Константы
  @mixin mod($mod) {
    @include modifier("intro", $mod){
      @content;
    }
  }

  @include option(height, 677);
  position: relative;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }


}
