mixin intro(content, params)
  .intro&attributes(attributes)
    .intro__bg
      .intro__bg-1
      .intro__bg-2
    .intro__content
      .intro__logo
      .intro__title
      .intro__mark
    block
