extends components/project/custom-page/custom-page


prepend title
  -let title = projectDescription;

block content
  .section
    +intro(copyright.intro)
  .section
    +information(copyright.information)
  .section
    +winners(copyright.winners)
  .section
    +take-part(copyright.takePart)
  .section
    +footer(copyright.footer)
